body
{
  background-color: #15182C;
}
#headerBar
{
  background-color: #5B58C7;
}

.tab {
  border-bottom: 1px solid #F06E9C;
  color: #fff;
}
.tab button {
  color: #fff;

  border: solid 1px #011b22;
  border-bottom: none;
  background-color: inherit;

}
.tab button:hover {
  border: solid 1px #F06E9C;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  background-color: #00232c;
}
.tab button.active {
  border: solid 1px #F06E9C;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  color: #fff;
  background: #F06E9C;
}

#dot1
{
  background-color: #15182C;
}
#dot2
{
  background-color: #5B58C7;
}
#dot3
{
  background-color: #14C5C3;
}

.button
{
  border: 1px solid #2F4454;
  background-color: #2F4454;
  color: #fff;
}
.button:hover
{
  background-color: #04070b;
  border: 1px solid #F06E9C;

}
.button:active
{
  background-color: #F06E9C;
}
.circleButton
{
  border: 1px solid #2F4454;
  background-color: #2F4454;
  color: #fff;
}
.circleButton:hover
{
  background-color: #17273b;
  border: 1px solid #F06E9C;

}
.circleButton:active
{
  background-color: #F06E9C;
}
.card-wrapper
{
  border: 2px solid #2F4454;
}
.card
{
  background-color: #0D1723;
  color: #fff;
}
.card-middle 
{
  background-color: #F06E9C;
}

.card-bottom
{
  background-color: #F06E9C;
}